/** Dark theme, cyan with complement over black. */

html {
   --main-bkgd : #000;
   --main-text : var( --main-t2 );
   --main-text-disabled : #013E47;

   --main-t2 : #A9E3EB;
   --main-t1 : #40AEBE;
   --main    : #0395AA;
   --main-b1 : #025F6C;
   --main-b2 : #001E22;

   --cmpl-t2 : #FFD9B6;
   --cmpl-t1 : #FFA552;
   --cmpl    : #FF7A00;
   --cmpl-b1 : #B05400;
   --cmpl-b2 : #381B00;

   --main-b2-o7 : rgba(   0,  30,  34, 0.7 );

   /*--cmpl-b1-o7 : rgba( 176,  84,   0, 0.7 );*/
   --cmpl-b2-o7 : rgba(  56,  27,   0, 0.7 );

   background: url("<?coco-datauri ../img/deepsea/letter-d.svg delete(the line after this) ?>") center / contain no-repeat, var( --main-bkgd );
   background-image: url("../img/deepsea/letter-d.svg");
}