* { box-sizing: border-box; }
html { font-family: Arial; }
html, body { margin: 0; width: 100%; background: black; color: white; }
div { padding: 0; margin: 0; }
a, a:visited { color: #F88; text-decoration: none; }
a:hover { text-decoration: underline; }